// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-showpage-container-bottom {
    display: block;
    padding-left: 60px;
    width: 70%
}

.comments-section {
    .comments-section-head {
        width: 98%;
        #comment-count {
            padding: 10px 0;
        }
        .create-comment-form {
            textarea{
                resize: none;
                border: 1px solid transparent;
                border-bottom: 1px solid lightgray;
                height: 25px;
                width: 100%;
                outline: none;
            }
            .comment-form-btns {
                display: flex;
                justify-content: flex-end;
                #comment-cancel {
                    color: gray;
                    border: 1px solid transparent;
                    font-weight: bolder;
                    background-color: transparent;
                    outline: none;
                }
                #comment-submit {
                    color: white;
                    background-color: lightgray;
                    border: 1px solid transparent;
                    padding: 5px;
                    outline: none;
                }
            }
        }
    }

    .comment-list {
        padding-bottom: 60px;
        padding-top: 20px;
        .comment-list-item {
            padding-bottom: 20px;
            #comment-top {
                display: flex;
                
                #commenter, #timestamp {
                    padding-top: 5px;
                    padding-left: 10px;
                    font-size: 16px;
                    margin-top: 2px;
                }

                #timestamp {
                    color: gray;
                    
                }
            }
            #comment-body {
                margin-left: 40px;
                padding-bottom: 15px;
                font-size: 14px;
                color: rgb(83, 83, 83);
            }
            .fas{
                position: relative;
                float:right;
                cursor: pointer;
                bottom: 40px;
                color: gray;
            }
            .fas:hover{
                color: black;
            }
            .comment-options-container {
                position: relative;
                float: right;
                bottom: 18px;
                width: 150px;
                height: 100px;
                border: 1px solid lightgray;
                box-shadow: 1px 1px 1px gray;
                border-radius: 5px;
                #del, #edit{
                    position: absolute;
                    top: 20px;
                    right: 35px;
                    p { 
                        padding-left:10px;
                        display: inline;
                        font-family: Arial, Helvetica;
                        color: black;
                        font-weight: 100;
                    }
                }
                #edit {
                    position: absolute;
                    top: 54px;
                    right: 55px;
                }
            }
        }
    }
}

.prompt-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.507);
  z-index: 11;

  .del-prompt {
      background: white;
      width: 20%;
      height: 125px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 35%;
      padding: 10px;
      h3 {
          text-align: center;
          font-weight: 800;
          font-size: 18px;
          font-family: Arial, Helvetica;
          color: black;
          padding-bottom: 20px;
      }
      p{
          text-align: center;
          font-weight: 100;
          font-size: 14px;
          font-family: Arial, Helvetica;
          color: gray;
          padding-bottom: 20px;
          border-bottom: 1px solid lightgray;
      }
      #cancel, #delete {
        margin-top: 10px;
        margin-left: 40px;
        outline: none;
        padding: 10px;
        border: none;
      }
      #cancel{
          color: gray;
          background-color: rgb(241, 241, 241);
          
      }
      #delete {
          background-color: blue;
          color: white;
      }

  }
}

.edit-form-container {
    padding-top: 10px;

    .edit-comment-form {
       
        input[type=text] {
            border: none;
            outline: none;
            border-bottom: 1px solid black;
            width: 85%;
        }

        .edit-btns {
            display: flex;
            justify-content: flex-end;
            #cancel, #save {
                outline: none;
                padding: 10px;
                border: none;
            }
            #cancel {
                background-color: transparent;
            }
            #save {
                background-color: blue;
                color: white; 
            }
        }
    }
}

.hidden{
    display: none;
}
