 .app-head{
   padding: 15px;
   display: flex;
   justify-content: space-between;
   .logo {
     width: 125px;
     height: 50px;
   }
 }

 .logo, .form-logo {
   width: 100px;
   height: 30px;
   cursor: pointer;
 }

.header-right-nav{
    display: flex;
    justify-content: space-between;
    width: 100px;
    .fas {
      position: relative;
      right: 10px;
      padding: 6px;
      font-size: 24px;
    }
}

#avatar-btn-text{
    padding: 6px;
    color: white;
    font-size: 16px;
}

.avatar-wrapper {
    position: relative;
}

.avatar-dropdown{
    border: 1px solid rgb(231, 231, 231);
    box-shadow: 1px 1px 1px rgb(231, 231, 231);
    background-color: white;
    position: absolute;
    display: block;
    z-index: 1;
    right: 40px;
    top: 38px;
    width: 150px;
}

.avatar-list-item, .avatar-list-item > a{
    display: block;
    padding: 3px;
    text-decoration: none;
    outline: none;
    color: black;
}

.avatar-list-item:hover{
    cursor: pointer;
    background-color: rgb(243, 243, 243);
}

.avatar-btn{
  border-radius: 50%;
  background-color: rgb(238, 116, 136);
  outline: none;
  border-style: none;
  padding: 12px 11px;
}

.loggedout-avatar-btn{
  outline: none;
  position: absolute;
  color: blue;
  background-color: white;
  border: 1px solid blue;
  font-size: 16px;
  font-weight: bold;
  right: 15px;
  padding: 6px 7px;
  width: 90px;
}