 .app-head-container {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  z-index: 2;
 }
 .app-head{
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 15px;
   border-bottom: 1px solid lightgray;
   .logo {
     width: 125px;
     height: 40px;
   }
 }

 .logo, .form-logo {
   width: 100px;
   height: 30px;
   cursor: pointer;
 }

.header-right-nav{
    display: flex;
    width: 100px;
    .fas, .fab {
      position: relative;
      right: 50px;
      padding: 6px;
      font-size: 24px;
    }
}




.avatar-wrapper {
    position: relative;
    right: 40px;
    .avatar-dropdown-wrapper {
      
      .avatar-dropdown{
          border: 1px solid rgb(231, 231, 231);
          box-shadow: 1px 1px 1px rgb(231, 231, 231);
          background-color: white;
          position: absolute;
          display: flex;
          flex-direction: column;
          z-index: 1;
          right: 40px;
          top: 38px;
          width: 325px;

          

          :nth-child(3){
            border-bottom: 1px solid lightgray;
          }

          .avatar-list-item {
            display: flex;
            width: 98%;    
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 15px;
            a {
              text-decoration: none;
              outline: none;
              color: black;
              width: inherit;
            }
            p {
              padding-top: 6px;
            }
            i {
              padding-right: 30px;
            }

            .fas, .fab {
                position: unset;
                color: gray;
              } 
          }
          .avatar-list-item:hover{
              cursor: pointer;
              background-color: rgb(243, 243, 243);
          }
      }

    }
  }
.avatar-dropdown > :first-child{
  border-bottom: 1px solid lightgray;

  .avatar-btn {
    position: absolute;
  }
  .current-user-info {
    padding-left: 60px;
  }
}






.loggedout-avatar-btn{
  outline: none;
  position: absolute;
  color: blue;
  background-color: white;
  border: 1px solid blue;
  font-size: 16px;
  font-weight: bold;
  right: -50px;
  padding: 6px 7px;
  width: 90px;
}