 .app-head{
   padding: 15px;
   display: flex;
   justify-content: space-between;
 }

 .logo, .form-logo {
   width: 100px;
   height: 30px;
   cursor: pointer;
 }

.header-right-nav{
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.avatar-btn{
  border-radius: 50%;
  background-color: rgb(238, 116, 136);
  outline: none;
  border-style: none;
  padding: 12px 11px;
}

#avatar-btn-text{
  padding: 6px;
  color: white;
  font-size: 16px;
}

.avatar-wrapper {
    position: relative;
}

.avatar-dropdown{
  border: 1px solid rgb(231, 231, 231);
  box-shadow: 1px 1px 1px rgb(231, 231, 231);
  background-color: white;
  position: absolute;
  display: block;
  z-index: 1;
  right: 40px;
  top: 38px;
  width: 150px;
}

.avatar-list-item{
  display: block;
  padding: 3px;
}

 .avatar-list-item:hover{
   cursor: pointer;
   background-color: rgb(243, 243, 243);
 }

.loggedout-avatar-btn{
  outline: none;
  position: absolute;
  color: blue;
  background-color: white;
  border: 1px solid blue;
  font-size: 16px;
  font-weight: bold;
  right: 15px;
  padding: 6px 7px;
  width: 85px;
}