.search-bar-container {
    width: 600px;

    input[type=text] {
        width: 87%;
    }
    .fas {
        padding: 0 17px;
        padding-top: 7px;
        padding-bottom: 5px;
        font-size: 16px;
        color: gray;
        border: 1px solid rgb(180, 180, 180);
        cursor: pointer;
    }
    .search-list {
        position:absolute;
        z-index: 12 ;
        background-color: white;
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: 1px 1px 1px black;
        border-radius: 3px;
        .search-link {
            outline: none;
            text-decoration: none;
            .search-list-item {
                padding: 5px 20px;
                font-size: 16px;
                color: rgb(70, 70, 70);
            }

        }
        .search-list-item:hover {
            background-color: rgb(230, 230, 230);
            cursor: pointer;
        }
    }
}

.search-results-container {
    margin-top: 90px;
    width: 60%;
    padding-left: 60px;
    .search-results-list {
        width: 80%;
        .list-item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 30px;

            .video-info {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;

                .info-top{
                    .video-title{
                        font-size: 18px;
                        padding-bottom: 10px;
                    }
                    .video-date{
                        color: gray;
                        font-size: 14px;
                    }
                }
                .info-mid{
                    .avatar-btn{
                        width: 10%;
                        height: 50%;
                    }
                    .uploader {
                        padding-left: 10px;
                        display: inline;
                        font-size: 14px;
                        color: gray;
                    }
                }
                .video-description{
                    color: gray;
                    font-size: 16px;
                }
            }
        }
    }
}