.upload-form-wrapper {
    display: flex;
    justify-content: center;

    .upload-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;

        .avatar-btn {
            position: relative;
            top: 30px;
            width: 8%;
            font-size: 1vw;
            color: white;
        }

        .submit-btn {
            position: relative;
            width: 15%;
            border-radius: 5%;
            margin-left: auto;
            font-size: .9vw;
            padding: 5px;
        }
    }

    .upload-form-header {
        font-size: 22px;
        font-weight: bolder;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;
    }

    .upload-title-input {
        padding: 15px 0;
        input[type='text'] {
            width: 100%;
            padding: 10px 0;
            padding-left: 10px;
            font-size: 16px;
        }
    }

    .upload-description-input {
        padding-bottom: 15px;
        textarea {
            resize: none;
            width: 100%;
            height: 300px;
            padding: 10px 0;
            padding-left: 10px;
            font-size: 16px;
        }
    }

    .drag-drop-inputs {
        padding-bottom: 15px;
        padding-left: 5px;
        display: flex;
        #video-drop-zone, #thumbnail-drop-zone{
            width:50%;
            height: 100px;
            outline: none;
            padding: 10px 0;
            padding-left: 10px;
            border: 1px solid black;
            font-size: 16px;
            color: gray;

            .fas {
                position: relative;
                color: red;
                font-size: 20px;
                left: 40%;
                top: 20%;
            }

            #file-name {
                color: blue;
            }
        }
    }
}

.spinner-wrapper {
    #spinner {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #spinner-text {
        text-align: center;
        font-weight: bolder;
        font-size: 22px
    }
}