// Place all the styles related to the api/videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-content {
   display: flex;
   justify-content: center;
  .video-index-container {
    margin-top: 90px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    .video-index-item{
      padding: 20px;
      flex-grow: 1.2;
      #video-thumbnail-link{
        text-decoration: none;
        outline: none;
        
        #video-thumbnail {
          width: 300px;
          height: 175px;
        }
      }
      .video-index-item-info {
        padding-top: 10px;
        display: flex;
        justify-content: flex-start;

        #video-thumbnail-title{
          color: black;
          font-weight: bolder;
          padding-top: 10px;
          padding-left: 5px;
        }
      }
      #video-uploader {
        font-size: 16px;
        color: gray;
        padding-left: 50px;
      }
    }
  }

}



