/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
font-family: 'Noto Sans', sans-serif;
}
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 500px;
  width: 500px;
  border: 1px solid lightgray;
  border-radius: 2%;
}

 .close-x {
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
 }

 .hidden {
   display: none;
 }

 .app-head{
   padding: 15px;
   display: flex;
   justify-content: space-between;
 }

 .logo, .form-logo {
   width: 100px;
   height: 30px;
   cursor: pointer;
 }

 .avatar-btn{
  border-radius: 50%;
  background-color: rgb(238, 116, 136);
  outline: none;
  border-style: none;
  position: absolute;
  right: 15px;
  padding: 12px 11px;
}

.loggedout-avatar-btn{
  outline: none;
  position: absolute;
  color: blue;
  background-color: white;
  border: 1px solid blue;
  font-size: 16px;
  font-weight: bold;
  right: 15px;
  padding: 6px 7px;
}

#avatar-btn-text{
  padding: 6px;
  color: white;
  font-size: 16px;
}

.avatar-dropdown{
  border: 1px solid rgb(231, 231, 231);
  position: relative;
  display: block;
  top: 43px;
  right: 14px;
  box-shadow: 1px 1px 1px rgb(231, 231, 231);
}

.avatar-dropdown-wrapper{
  padding-bottom: 70px;
  padding-left: 40px
}
.avatar-list-item{
  display: block;
  padding: 3px;
}
 .avatar-list-item:hover{
   cursor: pointer;
   background-color: rgb(243, 243, 243);
 }

.form-header {
  top: 20px;
  padding: 35px 10px;
  text-align: center;

}

#form-type{
  display:block;
  font-size: 22px;
  font-weight: 500;
  
}

.login-form{
  padding:10px;
}

.form-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.email-input, .username-input, .password-input{
  padding-left: 35px;
  padding-right: 20px;
}

input[type="text"], input[type="text"], input[type="password"] {
  width: 400px;
  height: 50px;
  font-size: 16px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 2%;
  padding-left: 15px;
}

.signup-email-input, .signup-username-input, .signup-password-input{
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 10px;
}

#login-errors {
  color: red;
  padding-top: 9px;
}

.demo-login-btn {
  width: 90px;
  color: rgb(93, 93, 251);
  cursor: pointer;
}

.switch-form-btn, .signup-switch-form-btn{
  cursor: pointer;
  color: rgb(93, 93, 251);
  text-decoration: none;

}
.signup-switch-form-btn{
  display: inline;
  margin-left: 40px;
  width: 52px;
}

.switch-form-btn {
  display: inline;
  margin-right: 90px;
}

.next-btn, .signup-next-btn {
  display: inline;
  background-color: rgb(93, 93, 251);
  color: white;
  border-style: none;
  padding: 7px 22px;
  border-radius: 5%;
  margin-left: 150px;
}

.signup-next-btn {
  margin-left: 295px;
}


#notfound {
  text-align: center;
}
